@import "vars";

/*==========  Desktop First  ==========*/
@media screen and (max-width: 1600px) {
  #lightbox{
    display: none;
    visibility: hidden;
    img{
      display: none;
      visibility: hidden;
    }
  }
   .main-slider{
    max-width: 758px;
    margin: 0 auto;
    
    
  }
  .important-sec_left{
    padding-left: 10px;
    max-width: 50%;
  }
  .professional-headshot-services-section{
    left: 0px;
    max-width: 700px;
    top: -110px;
  }
  .red-arrow{
    left: 0px;
  }
  .useful-left-block{
    margin-right: 0px;
  }
  
}
// ≥1200px
@include media-breakpoint-down(lg) {
  body {
  }
  .wrapper-logo {
    flex: 0 0 5%;
    a {
      font-size: 40px;
    }
  }
  .wrapper__header-menu {
    a {
      margin-right: 25px;
    }
  }
  .info-block-fast {
    margin-top: 30px;
    .btn__big {
      font-size: 14px;
      padding: 5px 10px;
      max-width: 215px;
      margin-left: 10px;
    }
    h1 {
      font-size: 26px;
      line-height: inherit;
      padding-top: 0px;
      margin-left: 10px;
    }
    h2 {
      padding-top: 0px;
      font-size: 16px;
      color: white;
      font-family: Poppins-Regular;
      padding-bottom: 10px;
      margin-left: 10px;
    }
  }
  .map-section {
    h2 {
      font-size: 30px;
    }
  }
  .important-sec_right_wrap{
    flex-direction: column;
    
  }
  .useful-left-block{
    width: 100%;
  }
  .useful-right-block{
    width: 100%;
  }
  .important-sec_right{
    width: 45%;
    margin-left: auto;
  }
  .professional-headshot-services-section{
    max-width: 100%;
    top: -20px;
  }
  .useful-content{
    margin-bottom: 30px;
  }
  .red-arrow{
    
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .header-menu {
    display: none !important;
    visibility: hidden;
  }
  .hamburger-menu {
    display: block;
  }
  .right-mobile-logo {
    display: block;
    position: absolute;
    right: 10px;
  }
  .map-section {
    h2 {
      font-size: 30px;
    }
    .studio-near-me-wrapp {
			min-width: 0px;
			min-width: 550px;
    }
  }
  .middle-navigation{
    padding: 0 10px;
    li{
      margin: 0 10px;
    }
  }
  .our-professional-section__wrapper{
    h2{
      font-size: 30px;
    }
  }
 
}

// ≥768px
@include media-breakpoint-down(sm) {
  .sessions-section {
    h3 {
      font-size: 20px;
    }
    .number-block-text {
      font-size: 16px;
      margin-left: 5px;
    }
    .number_block {
      font-size: 60px;
      margin-left: 5px;
    }
  }
  .map-section {
    h2 {
      font-size: 30px;
    }
    .studio-near-me-wrapp {
      left: 10px;
    }
  }
  .map-section {
    .studio-near-me-wrapp {
			min-width: 0px;
			min-width: 500px;
    }
  }
  
  .slick-arrow{
      width: 100px;
    }
  // .main-slider{
  //   justify-content: center !important;
  // }
  .slick_slider{
    max-width: 350px;
    margin: 0 auto;
    
    
  }
  .slider_item_wrapper{
    
  }
  .prev-slick__btn{
    display: none !important;
    
  }
  .next-slick__btn{
    display: none !important;
    
  }
  .important-sec_right{
    h2{
      left: 0;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .number-block-text {
    font-size: 14px;
    margin-left: 5px;
  }
  .number_block {
    font-size: 40px;
    margin-left: 5px;
  }
  .map-section {
    h2 {
      font-size: 20px;
      margin-left: 10px;
    }
    p {
			
      font-size: 16px;
      margin-left: 10px;
			margin-right: 20px;
    }

    .map-section_search__block {
      input {
        margin-left: 10px;
      }
    }
		.studio-near-me-wrapp {
			
			min-width: 0px;
			width: auto;
		}
		.map-section_search__block{
			display: flex;
			flex-direction: column;
			button{
				width: 150px;
				margin-left: 10px;
			}
			input{
				width: 150px;
				margin-bottom: 15px;
			}
		}
  }
  
  .important-sec_right{display: none;}
  .important-sec_left{max-width: 100%;}
  .red-arrow{display: none;}
  .professional-headshot-services-section{padding: 10px;margin-top: 10px;}
  .important-sec_right-mobile{display: block; h2{left: 0px;} text-align: center; }
}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
}

// ≤768px
@include media-breakpoint-up(md) {
}

// ≤992px
@include media-breakpoint-up(lg) {
}

// ≤1200px
@include media-breakpoint-up(xl) {
}
