@import "vars";

/*==========  Desktop First  ==========*/
@media screen and (max-width: 1990px) {
  .about-us-section {
    background-size: auto;
  }
}
@media screen and (max-width: 1600px) {
  #lightbox {
    display: none;
    visibility: hidden;
    img {
      display: none;
      visibility: hidden;
    }
  }
  .main-slider {
    max-width: 758px;
    margin: 0 auto;
  }
  .important-sec_left {
    padding-left: 10px;
    max-width: 50%;
  }
  .professional-headshot-services-section {
    left: 0px;
    max-width: 700px;
    top: -110px;
  }
  .red-arrow {
    left: 0px;
  }
  .useful-left-block {
    margin-right: 0px;
  }

  // FEEDBACK-COROUSEL
  .feedback-corousel-item_wrap {
    max-width: 490px;
    margin: 0 auto;
  }
  .feedback-corousel-item {
    //width: 50%;
  }

  .our-blog-section {
    .our-blog-section_card_img {
      width: 100%;
      height: auto;
    }
  }
  .footer-section-center-wrapper {
    padding: 0 20px;
  }
}
// ≥1200px
@include media-breakpoint-down(lg) {
  body {
  }
  .wrapper-logo {
    flex: 0 0 5%;
    a {
      font-size: 40px;
    }
  }
  .wrapper__header-menu {
    a {
      margin-right: 25px;
    }
  }
  .info-block-fast {
    margin-top: 30px;
    .btn__big {
      font-size: 14px;
      padding: 5px 10px;
      max-width: 215px;
      margin-left: 10px;
    }
    h1 {
      font-size: 26px;
      line-height: inherit;
      padding-top: 0px;
      margin-left: 10px;
    }
    h2 {
      padding-top: 0px;
      font-size: 16px;
      color: white;
      font-family: Poppins-Regular;
      padding-bottom: 10px;
      margin-left: 10px;
    }
  }
  .map-section {
    h2 {
      font-size: 30px;
    }
  }
  .important-sec_right_wrap {
    flex-direction: column;
  }
  .useful-left-block {
    width: 100%;
  }
  .useful-right-block {
    width: 100%;
  }
  .important-sec_right {
    width: 45%;
    margin-left: auto;
  }
  .professional-headshot-services-section {
    max-width: 100%;
    top: -20px;
  }
  .useful-content {
    margin-bottom: 30px;
  }
  .red-arrow {
  }

  .about-us-section__left__text {
    font-size: 40px;
  }
  .our-blog-section {
    .our-blog-section_card__text {
      padding: 0 10px;
    }
  }
  .footer-section_constacts_wrapper {
    .footer-section_studio_inc_wrapper {
      flex: 0 0 33%;
    }
    .footer-section_contacts_wrapper {
      flex: 0 0 50%;
    }
    .footer-section_social_links_wrapper {
      flex: 0 0 10%;
    }
  }
  .footer-section {
    padding-top: 20px;
    .footer-section__logo-wrapper {
      flex: 0 0 20%;
    }
  }
  .footer-section_links_wrapper {
    justify-content: space-between;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .number__block_line_first-dark {
    left: 0px;
  }
  .number__block_line_second-dark {
    left: 0px;
  }
  .header-menu {
    display: none !important;
    visibility: hidden;
  }
  .hamburger-menu {
    display: block;
  }
  .right-mobile-logo {
    display: block;
    position: absolute;
    right: 10px;
  }
  .map-section {
    h2 {
      font-size: 30px;
    }
    .studio-near-me-wrapp {
      min-width: 0px;
      min-width: 550px;
    }
  }
  .middle-navigation {
    padding: 0 10px;
    li {
      margin: 0 10px;
    }
  }
  .our-professional-section__wrapper {
    h2 {
      font-size: 30px;
    }
  }
  .about-us-section__right {
    .btn-about-us {
      margin-right: 100px;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
.our-professional-section{
    margin-top: 20px;
  }
  .our-blog-section{
    padding-bottom: 20px;
  }
  .important-section{
    margin-top: 20px;
  }
  .sessions-section {
    margin-top: 10px;
    h3 {
      font-size: 20px;
    }
    .number-block-text {
      font-size: 16px;
      margin-left: 5px;
    }
    .number_block {
      font-size: 60px;
      margin-left: 5px;
    }
  }
  .map-section {
    h2 {
      font-size: 30px;
    }
    .studio-near-me-wrapp {
      left: 10px;
    }
  }
  .map-section {
    .studio-near-me-wrapp {
      min-width: 0px;
      min-width: 500px;
    }
  }

  .slick-arrow {
    width: 100px;
  }
  // .main-slider{
  //   justify-content: center !important;
  // }
  .slick_slider {
    max-width: 350px;
    margin: 0 auto;
  }
  .slider_item_wrapper {
  }
  .prev-slick__btn {
    display: none !important;
  }
  .next-slick__btn {
    display: none !important;
  }
  .important-sec_right {
    h2 {
      left: 0;
    }
  }
  .about-us-section__right {
    .btn-about-us {
      margin-right: 10px;
    }
  }
  .about-us-section__left__text {
    font-size: 30px;
  }
  .our-blog-section_card_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .our-blog-section_card {
    margin-top: 20px;
  }
  .our-blog-section_title {
    margin-bottom: 30px;
  }
  .footer-section {
    padding-top: 20px;
    .footer-section__logo-wrapper {
      display: none;
    }
  }
  .footer-section_links_wrapper {
    p {
      font-size: 12px;
    }
  }
  .footer-section_constacts_wrapper {
    p,
    a {
      font-size: 12px;
    }
  }
  .footer-section__copyright {
    p {
      position: inherit;
      text-align: center;
      right: 0;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .number-block-text {
    font-size: 14px;
    margin-left: 5px;
  }
  .number_block {
    font-size: 40px;
    margin-left: 5px;
  }
  .map-section {
    h2 {
      font-size: 20px;
      margin-left: 10px;
    }
    p {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 20px;
    }

    .map-section_search__block {
      input {
        margin-left: 10px;
      }
    }
    .studio-near-me-wrapp {
      min-width: 0px;
      width: auto;
    }
    .map-section_search__block {
      display: flex;
      flex-direction: column;
      button {
        width: 150px;
        margin-left: 10px;
      }
      input {
        width: 150px;
        margin-bottom: 15px;
      }
    }
  }

  .important-sec_right {
    display: none;
  }
  .important-sec_left {
    max-width: 100%;
  }
  .red-arrow {
    display: none;
  }
  .professional-headshot-services-section {
    padding: 10px;
    margin-top: 10px;
  }
  .important-sec_right-mobile {
    display: block;
    h2 {
      left: 0px;
    }
    text-align: center;
  }

  .feedback-corousel-item_wrap {
    .feedback-name-block {
      padding: 0 5px;
    }
    .feedback-quot {
      padding: 0 5px;
      span {
        display: none;
      }
    }
    img {
      width: 100%;
      height: auto;
      padding: 0 10px;
    }
  }
  .feedback-section-wrapper {
    .clients-love-us {
      h2 {
        font-size: 30px;
      }
    }
  }
  .about-us-section_inf {
    flex-direction: column;
  }
  .about-us-section__right {
    .btn-about-us {
      margin: 0 auto;
      margin-top: 110px;
    }
  }
  .about-us-section__left__text {
    font-size: 25px;
    text-align: center;
  }
  .footer-section_tittle {
    font-size: 14px;
  }
  .btn-main__red_seemore{
    max-width: 150px;
    padding: 12px 20px;
    
  }
}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
}

// ≤768px
@include media-breakpoint-up(md) {
}

// ≤992px
@include media-breakpoint-up(lg) {
}

// ≤1200px
@include media-breakpoint-up(xl) {
}
