@import "vars";
@import "fonts";
@import "libs";

// <!-- HEADER SECTION-->
body {
  font-size: 16px;
  height: 7400px;
  font-family: Poppins-Regular;
  //box-sizing:border-box;
 
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: none;
  }
}

.main-centre-wrapper {
  max-width: 1560px;
  margin: 0 auto;
}

.section-header {
  .header-menu {
    padding-top: 46px;
    max-width: 1720px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
  }
}

.wrapper-logo {
  flex: 0 2 15%;
  margin-top: -20px;

  a {
    color: #222222;
    font-size: 60px;
    font-family: Tahu;
  }
}

.wrapper__header-menu {
  margin-right: auto;

  ul {
    list-style-type: none;
    display: flex;
  }

  a {
    margin-right: 39px;
    color: #222222;
    font-family: Poppins-Medium;
    white-space: nowrap;
  }
}

.social-icons-block {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 65px;

  img {
    margin: 0px 6px;
  }
}

.btn-main__red {
  background-color: $btn-red;
  border-radius: 3px;
  font-family: Poppins-Regular;
  border: none;
  outline: none;
  text-align: center;
  color: white;
  font-size: 16px;
  white-space: nowrap;

  &_seemore {
    padding: 12px 70px;
    margin-top: 90px;
  }

  &-dark {}

  &-light {}
}

.btn__small {
  padding: 6px 20px;
}

.header-illustration {
  position: relative;
  background-image: url("../img/_src/main-header-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding-bottom: 70px;
  z-index: -6;
}

.header-illustration:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.5);
  z-index: -3;
}

.info-block-fast {
  h1 {
    font-size: 70px;
    font-family: Poppins-Bold;
    color: white;
    line-height: 80px;
    padding-top: 58px;
    z-index: 999;
  }

  h2 {
    padding-top: 10px;
    font-size: 21px;
    color: white;
    font-family: Poppins-Regular;
    padding-bottom: 40px;
  }
}

.btn__big {
  font-size: 18px;
  padding: 10px 35px;
  max-width: 215px;
}

//<!-- SESSIONS SECTION-->
.sessions-section {
  margin-top: 98px;
  display: flex;
}

.individual_session {
  flex: 0 0 50%;
  background-color: #222222;

  h3 {
    text-align: center;
    color: white;
  }

  p {
    color: white;
    padding: 0px;
    margin: 0px;
  }
}

.companies_session {
  flex: 0 0 50%;

  h3 {
    text-transform: uppercase;
    font-family: Poppins-SemiBold;
    font-size: 30px;
    text-align: center;
  }

  p {
    margin: 0px;
    padding: 0px;
  }
}

.center_session_wrapper {
  max-width: 429px;
  margin: 0 auto;

  h3 {
    text-transform: uppercase;
    font-family: Poppins-SemiBold;
    font-size: 30px;
  }
}

.number_block {
  //line-height: 100px;
  font-size: 80px;
  font-family: Poppins-Bold;
  opacity: 20%;
  position: relative;
  bottom: -30px;
}

.number__block_line {
  margin-bottom: -50px;
}

.number__block_line_first {
  position: relative;
  display: block;
  left: 24px;
  top: -32px;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  content: "";
  max-width: 400px;
}

.number__block_line_second {
  position: relative;
  display: block;
  left: 43px;
  top: -33px;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  content: "";
  max-width: 380px;
}

.number__block_line_third {
  position: relative;
  display: block;
  left: 30px;
  top: -31px;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  content: "";
  max-width: 400px;
}

.img-person-icons {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
}

.person__icons {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 15px;
}

.dark-number {
  color: #222222;
  opacity: 20%;
}

.number__block_line_first-dark {
  position: relative;
  display: block;
  left: 24px;
  top: -32px;
  height: 30px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.15);
  content: "";
  max-width: 400px;
}

.number__block_line_second-dark {
  position: relative;
  display: block;
  left: 43px;
  top: -33px;
  height: 30px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.15);
  content: "";
  max-width: 380px;
}

.center-button-wrapper {
  display: flex;
  justify-content: center;
}

.number-block-text {
  font-family: Poppins-Regular;
  font-size: 18px;
  margin-left: 45px;
  position: relative;
  top: 10px;

  &_dark {
    color: white;
  }

  &_light {
    color: #222222;
  }
}

.individual_session_block {
  margin-bottom: 100px;
}

//                       <!-- MAP SECTION-->
.map-section {
  position: relative;
  display: none; //hide map
}

.near-me-map {}

.studio-near-me-wrapp {
  min-width: 700px;
  background-color: white;
  position: absolute;
  top: 150px;
  left: 180px;
}

.studio-near-me {
  h2 {
    font-family: Poppins-SemiBold;
    font-size: 50px;
    color: #222222;
    margin-top: 50px;
    margin-left: 45px;
  }

  p {
    font-size: 18px;
    font-family: Poppins-Regular;
    margin-left: 45px;
  }
}

.map-section_search__block {
  input {
    min-width: 204px;
    min-height: 45px;
    border: none;
    background-color: #f6f6f6;

    margin-left: 50px;
    margin-bottom: 47px;
    margin-top: 5px;
    padding-right: 0px;
  }

  button {
    padding: 12px 48px 9px 48px;
    border-radius: 0;
    margin-left: -4px;
  }
}

// <!-- OUR-PROFESSIONAL SECTION-->
.our-professional-section {
  margin-top: 110px;
}

.our-professional-section__wrapper {
  h2 {
    margin-bottom: 45px;
  }

  width: 1560px;
  margin: 0 auto;

  .midle-navigation {
    max-width: 988px;
    margin: 0 auto;

    ul {
      padding-left: 0px;
      display: flex;
      list-style: none;
      justify-content: space-between;
    }

    a {
      color: #ababab;
      font-size: 18px;
      font-family: Poppins-Regular;
    }
  }

  margin-bottom: 57px;
}

.h2-title__dark {
  text-align: center;
  font-family: Poppins-SemiBold;
  font-size: 50px;
  line-height: 1.1;
}

.our-active {
  color: #222222 !important;
}

/* SLIDER*/
.main-slider {
  // display: flex;
  position: relative;
}

.slick_slider {
  width: 758px;
  margin-top: -23px;
}

.slider-center-wrapper {
  width: 1560px;
  margin: 0 auto;
}

.slider_item {
  margin-top: 23px;
  max-width: 350px;

  // height: 370px;
  &:hover {}
}

.main-slider {
  display: flex;
}

.righ-lightbox-img {
  width: 800px;
  height: 860px;
}

.slick-prev {
  width: 350px;
}

.slick-arrow {
  width: 350px;
  background-color: #f6f6f6;
  border: none;
}

.slick-disabled {}

.slick-btn {
  width: 350px;
  height: 41px;
}

.prev-slick__btn {
  background-image: url("../img/svg/prevarrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.next-slick__btn {
  background-image: url("../img/svg/newarrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 379px;
  bottom: 0px;
}

.slider_item_wrapper {
  position: relative;
}

.check-service_wrap {
  position: absolute;
  bottom: 20px;
  left: 34px;
  display: none;
}

.slider-item_company {
  max-width: 90px;
  margin-bottom: 3px;
  text-transform: uppercase;
  padding: 3px 0px;
  font-size: 12px;
}

.check-service {
  color: white;
  font-size: 18px;

  img {
    display: inline-block;
    margin-left: 10px;
  }
}

.slider_item_wrapper:hover .check-service_wrap {

  display: block;


}



.holder {
  position: relative;
  width: 300px;
  height: 400px;
}

.block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  display: none;
}

.holder:hover .block {
  display: block;
}



//  !-- IMPORTANT SECTION-->
.important-section {
  background-color: #f6f6f6;
  margin-top: 150px;
  padding-bottom: 40px;
}

.important-section_wrapper {
  width: 1560px;
  margin: 0 auto;
  display: flex;
  padding-top: 70px;
}

.important-sec_left {
  max-width: 52%;
  flex-grow: 2;
  flex-shrink: 10;
  // flex-shrink: 7;


  p {
    max-width: 615px;
    font-size: 18px;
    line-height: 1.8;


  }

  h2 {
    font-size: 50px;
    font-family: Poppins-SemiBold;
    position: relative;
    line-height: 1.1;
    margin-bottom: 30px;

  }
}

.important-sec_right {
  max-width: 48%;

  h2 {
    font-family: Tahu;
    font-size: 60px;
    position: relative;
    left: 28px;

  }

}

.important-sec_right_wrap {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;

}

.useful-left-block {
  width: 50%;
  margin-right: 90px;

}

.useful-right-block {

  width: 45%;
}

.useful-content {

  vertical-align: bottom;
  margin-bottom: 57px;
  padding-bottom: 7px;

  img {

    position: relative;
    margin: 0px 30px 0px 17px;



  }

  border-bottom: solid 1px #cccccc;
  display: flex;

}

.fix-icons {
  margin-top: -50px !important;
  position: relative;
  top: 17px;
}

.professional-headshot-services-section {
  position: relative;
  left: 295px;
  top: -58px;
  background-color: #222222;
  color: white;
  max-width: 1060px;
  padding: 52px 80px 30px 80px;



  .prof-hed-wrapper {


    h3 {
      color: white;
      font-size: 22px;
      font-family: Poppins-SemiBold;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    p {
      font-size: 18px;
      font-family: Poppins-Regular;
      line-height: 1.7;
      margin-bottom: 34px;
    }
  }
}

.red-arrow {
  position: absolute;
  left: -110px;
  top: -100px;
}

// <!-- FEEDBACK SECTION-->
.feedback-section {
  background-color: #222222;
  color: white;
}

.feedback-section-wrapper {
  width: 1560px;
  margin: 0 auto;
  padding-bottom: 125px;

  .clients-love-us {
    padding-top: 100px;

    h2,
    p {
      text-align: center;
    }

    h2 {
      font-size: 50px;
      font-family: Poppins-SemiBold;
    }

    p {
      font-size: 18px;
    }


  }
}

.feedback-corousel {
  
  margin-top: 60px;
  //display: flex;
 // justify-content: space-between;
}
.middle-item{
margin: 0 45px;

}
.feedback-corousel-item {
 

 max-width: 490px;
 
}
.feedback-corousel{
//  margin: 0 -45px;
}


.obfuscation-img {}

.feedback-name-block {
  display: flex;
  margin-top: 27px;
  margin-bottom: 35px;
}

.feedback-nam {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.feedback-stars-block {
  margin-left: auto;

  .fa-star {
    color: #ff3c2d;

  }
}

.feedback-quot {

 max-width: 412px;
  margin: 0 auto;
  position: relative;
  line-height: 1.9;
  font-family: Poppins-Regular;
  font-size: 18px;

  span {
    font-family: ProximaNova-Regular;
    line-height: 0px;
    font-size: 220px;
    opacity: 10%;
    position: absolute;
    bottom: 0px;
    left: -50px;
  }
}


.my-dots-class{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
  
  li{
    cursor: pointer;
   
    button{
      display: none;
    }
    margin: 0 10px;
    display: inline-block;
    list-style-type: none;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .slick-active{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: solid 2px #ff3c2d;
    border-radius: 50%;
    
    
    

  }
}

.slick-slide {
  outline: none
}

.about-us-section{
  //background:url("../img/_src/camera_bg.jpg")  no-repeat center ;
  background: linear-gradient(  rgba(0, 0, 0, 0.6) ), url('../img/_src/camera_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  //position: relative;
  background-size: 100%;
  padding: 19px 15px;
  position: relative;
  &_inf{
    
    display: flex;
    
  }

 &__left{
   font-size: 50px;
   color: white;
   font-family: Poppins-SemiBold;
   line-height: 1.1;
   

 }

  
 
}
.about-us-section_lens{
  
  &__border{
    
    border: solid 2px #636363;
    
   // height: 100%;
    position: absolute; 
    left:19px;
    right:19px;
    top:15px;
    bottom:15px;

    
   
  }
  color: white;
  
}











@import "media"; // Always at the end