@import "vars";
@import "fonts";
@import "libs";

h2 {
  font-family: "tahu";
  color: green;
}
.Poppins-Regular {
  font-family: Poppins-Regular;
  font-size: 40px;
}
.Poppins-Bold {
  font-family: Poppins-Bold;
  font-size: 40px;
}
.Poppins-Medium {
  font-family: Poppins-Medium;
  font-size: 40px;
}
.Poppins-SemiBold {
  font-family: Poppins-SemiBold;
  font-size: 40px;
}

@import "media"; // Always at the end
